<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="description" content="i eat children.">
    <meta name="author" content="M.spicata">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/pink.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% if page.title %}
      <h1>{{ page.title }}</h1>
    {% else %}
      <h1>{{ page.name }}</h1>
    {% endif %}
    {{ content }}
    <p>found on <a href="https://xob2.99000000.xyz/">xob2.99000000.xyz</a></p>
  </body>
</html>
